body,h1,h2,h3 {
  font-family: "Monda";
}

a {
    text-decoration: none;
  }
  
  h1 {
    font-size: 45px;
  }

  .h1home{
    display:flex;
    flex-direction: row;
  }
  .h1home:before,
  .h1home:after{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    margin: auto;
  }

  #h1service{
    margin:10px auto;
    line-height:51px;
    vertical-align:middle;
    text-align:center;
    font-size: 60px;
  }
  #h2service{
    font-size: 32px;

  }
  #h1submit{
    margin:10px auto;
    text-align:center
  }
  #category {
    font-family: Staatliches;
    font-weight: 500;
  }
  
  #title {
    letter-spacing: 0.4px;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.13636;
  }
  
  #banner {
    margin: 20px;
    height: 800px;
  }
  
  #editor {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
  }
  
  .uk-navbar-container {
    background: #fff !important;
    font-family: Staatliches;
  }
  
  img:hover {
    opacity: 1;
    transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  .Mui-selected p{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #D55534;
  }
  .carousel-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 0px violet;
  }